{
  "extends": "airbnb",
  "rules": {
    "comma-dangle":"off",
    "no-param-reassign":"off",
    "react/jsx-filename-extension":"off",
    "no-underscore-dangle": "off",
    "valid-jsdoc": "error"
  }
}